/*
    Test Standalone Style

    https://github.com/teociaps/SwaggerUI.Themes
*/

/* Standalone style - should NOT load common.css or ui.js */

:root {
    --test-standalone-color: #ff0000;
}

body {
    background-color: var(--test-standalone-color);
}
