/*
    Dark Style (Css)
*/

@charset "UTF-8";

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 65%);
    transition: background-color 0.3s;
}

    *::-webkit-scrollbar-thumb:hover {
        background-color: hsl(0, 0%, 45%);
    }

body.swagger-section {
    background-color: #0e0e0e;
    color: #e5e5e5;
}

.swagger-section .swagger-ui-wrap {
    line-height: 1;
    font-family: "Droid Sans", sans-serif;
    min-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    /* Input boxes */
    .swagger-section .swagger-ui-wrap input.parameter {
        width: 300px;
        background-color: black;
        border: 1px solid #333;
        color: #d1d1d1;
    }

    /* Select inputs */
    .swagger-section .swagger-ui-wrap select {
        background-color: black;
        border: 1px solid #333;
        color: #d1d1d1;
    }

    /* Text areas inputs */
    .swagger-section .swagger-ui-wrap .body-textarea {
        width: 300px;
        height: 100px;
        background-color: black;
        border: 1px solid #333;
        color: #d1d1d1;
    }

    /* Pre boxes */
    .swagger-section .swagger-ui-wrap pre {
        background-color: black;
        border: 1px solid #333;
        color: #d1d1d1;
    }

/* Code boxes */
.swagger-section pre code {
    color: #d1d1d1;
}

/* Paragraph */
.swagger-section .swagger-ui-wrap p {
    color: #d5d5d5;
}

/* TOP HEADER */
.swagger-section #header {
    background-color: black;
    padding: .75rem;
    height: 100%;
    min-width: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Inputs */
.swagger-section #api_selector {
    clear: none;
    float: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    .swagger-section #api_selector input {
        margin: 0;
        background-color: black;
        border: 1px solid gray;
        color: #d1d1d1;
    }

.swagger-section .hljs {
    background: none;
    padding: 0;
}

/* CONTAINER */
#swagger-ui-container {
    display: block;
}

/* Endpoint Group with operations */
.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a,
.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading ul.options li a {
    color: #e6e6e6;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a,
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a {
    color: #afafaf;
}

    .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a:hover,
    .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:hover,
    .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a,
    .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading ul.options li a {
        color: white;
    }

/* Endpoints: Get, Post, Put, Delete, Patch, Options */
/* Heading */
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading {
    background-color: #080808;
    border: 1px solid #272727;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a {
    color: #e5e5e5;
}

/* Content */
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content {
    background-color: #080808;
    border: 1px solid #272727;
    border-top: none;
}


/* Fix visible border on the right of options endpoint header */
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li {
    border-right: 0;
}

/* Model and Example schemes */
.swagger-section .swagger-ui-wrap .model-signature .signature-nav a {
    text-decoration: none;
    color: gray;
}

    .swagger-section .swagger-ui-wrap .model-signature .signature-nav a:hover {
        color: #e6e6e6;
        text-decoration: none;
    }

.swagger-section .swagger-ui-wrap .model-signature .signature-nav .selected {
    color: white;
    text-decoration: none;
}
/* Model */
.swagger-section .swagger-ui-wrap .model-signature .description .strong {
    font-weight: bold;
    color: #afafaf;
    font-size: .9em;
}
/* Example */
.swagger-section .swagger-ui-wrap .model-signature pre {
    cursor: default;
}

    .swagger-section .swagger-ui-wrap .model-signature pre:hover {
        background-color: #0a0a0a;
    }

/* "Try It" button and "Hide response" div */
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header {
    margin-top: 1rem;
}

    /* "Try It" button */
    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
        cursor: pointer;
        border: 1px solid black;
        border-radius: 0.3rem;
        color: white;
    }

        .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:hover {
            filter: brightness(1.1);
        }

        .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:active {
            transform: scale(.95);
        }

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header input.submit,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header input.submit {
    background-color: #0f6ab4;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header input.submit {
    background-color: #10A54A;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header input.submit {
    background-color: #C5862B;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header input.submit {
    background-color: #a41e22;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header input.submit {
    background-color: #D38042;
}

/* Authorization pop-up */
.swagger-section .api-popup-dialog-shadow {
    background-color: #000000c7;
    opacity: unset;
    z-index: 1000;
}

.swagger-section .api-popup-dialog-wrapper {
    z-index: 1001;
    background-color: black;
    border: 1px solid #333;
    color: #d1d1d1;
}