/*
    Desert Style

    https://github.com/teociaps/SwaggerUI.Themes
*/

:root {
    --body-background-color: #c58c59;
    --swagger-main-color: #ffffff;
    /* Loading */
    --loading-container-border-color: rgba(200, 200, 200, .1);
    --loading-container-border-top-color: rgba(255, 255, 255, .6);
    /* Errors container */
    --errors-wrapper-background-color: rgb(255, 0, 0, .2);
    --errors-wrapper-border-color: #f93e3e;
    --errors-wrapper-errors-color: #3f1616;
    /* Top-bar */
    --topbar-background-color: #573420;
    --topbar-select-border-color: #8F5933;
    --topbar-select-label-color: #ffeec8;
    --topbar-download-url-button-background-color: #774109;
    --topbar-download-url-button-color: #dfd9d9;
    /* Info-box */
    --swagger-info-link: #cedaff;
    --swagger-info-link-hover: #a4d5ff;
    --api-version-background-color: #85ce34;
    --api-version-stamp-background-color: #a96105;
    --api-version-color: #ffffff;
    /* Authorize Section/Modal */
    --scheme-container-background-color: #cd753d;
    --scheme-container-box-shadow-color: rgb(51 0 0 / 30%);
    --auth-container-border-bottom-color: #ebebeb;
    --auth-container-background-color: #ddd;
    --auth-container-errors-color: red;
    --btn-authorize-background-color: transparent;
    --btn-authorize-border-color: #a0e249;
    --btn-authorize-font-color: #caff85;
    --btn-authorize-svg-fill-color: #caff85;
    /* Operations */
    --opblock-tag-background-color-hover: rgba(0, 0, 0, .1);
    --opblock-tag-pinned-background-color-hover: #bb8656;
    --opblock-tag-border-bottom-color: rgb(78, 56, 56, 0.30);
    --opblock-border-color: black;
    --opblock-shadow-color: rgba(59, 59, 59, .19);
    --opblock-tabheader-underline-color: rgba(255, 255, 255, .6);
    --opblock-summary-svg-icons-color: white;
    --opblock-summary-border-bottom-color: black;
    --opblock-section-header-background-color: #0000004a;
    --opblock-section-header-shadow-color: rgba(0, 0, 0, .1);
    --opblock-summary-method-background-color: black;
    --opblock-summary-method-color: white;
    --opblock-summary-method-shadow-color: rgba(0, 0, 0, .1);
    /*POST*/
    --opblock-post-background-color: rgb(125 113 58 / 24%);
    --opblock-post-method-color: #7D713A;
    --opblock-post-border-color: #7D713A;
    /*PUT*/
    --opblock-put-background-color: rgb(193 91 22 / 16%);
    --opblock-put-method-color: #c15b16;
    --opblock-put-border-color: #c15b16;
    /*DELETE*/
    --opblock-delete-background-color: rgb(157 66 26 / 17%);
    --opblock-delete-method-color: #9d421a;
    --opblock-delete-border-color: #9d421a;
    /*GET*/
    --opblock-get-background-color: rgb(84 150 182 / 18%);
    --opblock-get-method-color: #5496B6;
    --opblock-get-border-color: #5496B6;
    /*PATCH*/
    --opblock-patch-background-color: rgb(141 111 155 / 18%);
    --opblock-patch-method-color: #8D6F9B;
    --opblock-patch-border-color: #8D6F9B;
    /*HEAD*/
    --opblock-head-background-color: rgb(67 64 99 / 18%);
    --opblock-head-method-color: #434063;
    --opblock-head-border-color: #434063;
    /*OPTIONS*/
    --opblock-options-background-color: rgb(241 145 121 / 20%);
    --opblock-options-method-color: #F19179;
    --opblock-options-border-color: #F19179;
    /*Deprecated*/
    --opblock-deprecated-background-color: hsla(0, 0%, 87%, .1);
    --opblock-deprecated-method-color: #a59595;
    --opblock-deprecated-border-color: #a59595;
    /* Tabs */
    --swagger-tabs-divider-color: #d9d0d0;
    /* Other of operations */
    --response-undocumented-color: #ece2e2;
    --response-control-media-type-color: #5dff5d;
    --opblock-pre-microlight-background-color: #301d00;
    --opblock-pre-microlight-color: #ebe3e3;
    --download-contents-background-color: #896648;
    --download-contents-color: white;
    --copy-to-clipboard-background-color: #896648;
    --copy-to-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" aria-hidden="true"><path fill="%23fff" fill-rule="evenodd" d="M4 12h4v1H4v-1zm5-6H4v1h5V6zm2 3V7l-3 3 3 3v-2h5V9h-5zM6.5 8H4v1h2.5V8zM4 11h2.5v-1H4v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H3c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V5H3v9h10v-2zM4 4h8c0-.55-.45-1-1-1h-1c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H5c-.55 0-1 .45-1 1z"/></svg>') 50% no-repeat;
    --filter-operation-filter-input-border-color: #d8dde7;
    --filter-download-failed-color: red;
    --filter-download-loading-color: #aaa;
    --table-headers-example-color: #ece2e2;
    --table-thead-border-bottom-color: rgb(79, 52, 52, 0.20);
    --parameter-name-required-symbol-color: #590000;
    --parameter-name-required-color: rgb(53 0 0 / 80%);
    --parameter-in-extension-color: #dfd7d7;
    --parameter-deprecated-color: #610000;
    /* Buttons */
    --button-background-color: transparent;
    --button-border-color: #ffdbaf;
    --button-shadow-color: rgba(0, 0, 0, .1);
    --button-shadow-hover-color: rgba(0, 0, 0, .3);
    --button-cancel-background-color: transparent;
    --button-cancel-border-color: #da4e4e;
    --button-cancel-color: #ffb8b8;
    --button-execute-background-color: #4990e2;
    --button-execute-border-color: #9fccff;
    --button-execute-color: white;
    --button-invalid-background-color: #feebeb;
    --button-invalid-border-color: #f93e3e;
    /* Expand operation icon */
    --expand-operation-svg-arrow-color: white;
    --expand-operation-svg-arrow-hover-color: white;
    /* Form elements */
    --select-background-icon: #301d00 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23fff" fill-rule="evenodd" d="M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat;
    --select-border-color: #8F5933;
    --select-shadow-color: rgba(0, 0, 0, .25);
    --input-background-color: #301d00;
    --input-border-color: #8F5933;
    --input-invalid-background-color: #6f0f0f;
    --input-invalid-border-color: #f93e3e;
    --input-invalid-color: #ffb3b3;
    --input-disabled-background-color: #572f25;
    --input-disabled-color: #b3b3b3;
    --select-disabled-border-color: #888;
    --textarea-disabled-background-color: #2b2b2b;
    --textarea-disabled-color: #b3b3b3;
    --textarea-background-color: hsla(0, 0%, 0%, .8);
    --textarea-border-focus-color: #b5794f;
    --textarea-curl-background-color: #301d00;
    --textarea-curl-color: #fff;
    --checkbox-color: #303030;
    --checkbox-label-item-background-color: #e8e8e8;
    --checkbox-label-item-shadow-color: #e8e8e8;
    --checkbox-label-item-icon: #e8e8e8 url('data:image/svg+xml;charset=utf-8,<svg width="10" height="8" viewBox="3 7 10 8" xmlns="http://www.w3.org/2000/svg"><path fill="%2341474e" fill-rule="evenodd" d="M6.333 15 3 11.667l1.333-1.334 2 2L11.667 7 13 8.333z"/></svg>') 50% no-repeat;
    /* Dialog */
    --dialog-backdrop-color: rgb(20 0 0 / 80%);
    --dialog-background-color: #935F39;
    --dialog-border-color: #F2D58C;
    --dialog-shadow-color: rgba(0, 0, 0, .2);
    --dialog-close-button-icon-color: #fff;
    /* Models */
    --model-deprecated-color: #e1c3c3;
    --model-arrow-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23fff" fill-rule="evenodd" d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') 50% no-repeat;
    --model-hint-background-color: rgba(0, 0, 0, .7);
    --model-hint-color: #ebebeb;
    --model-property-color: #e9dede;
    --model-property-primitive-color: #fdebeb;
    --model-property-required-symbol-color: red;
    --model-property-description: #b9b9b9;
    --model-property-extension: #cdbebe;
    --model-section-border-color: rgb(67 1 1 / 30%);
    --model-section-header-color: white;
    --model-section-header-hover-background-color: rgba(0, 0, 0, .02);
    --expand-model-svg-arrow-color: white;
    --model-section-little-header-color: #e3d2d2;
    --model-container-background-color: rgba(20, 20, 20, .1);
    --model-container-hover-background-color: rgba(0, 0, 0, .1);
    --model-box-background-color: rgba(0, 0, 0, .15);
    --model-title-color: #ffffff;
    --model-deprecated-warning-color: #f93e3e;
    --model-prop-type-color: #fffa4d;
    --model-prop-format-color: #f9ffc5;
    /* Rendered Markdown */
    --rendered-markdown-pre-color: #000;
    --rendered-markdown-code-background-color: rgba(0, 0, 0, .05);
    --rendered-markdown-code-color: #9012fe;
}