/*
    Modern Forest Style

    https://github.com/teociaps/SwaggerUI.Themes
*/

:root {
    --scrollbar-thumb-color: hsl(115, 100%, 30%);
    --scrollbar-thumb-hover-color: hsl(115, 100%, 40%);
    --body-background-color: #0e2702;
    --swagger-main-color: #fff;
    /* Loading */
    --loading-container-border-color: rgba(200, 200, 200, .1);
    --loading-container-border-top-color: rgba(255, 255, 255, .6);
    /* Errors container */
    --errors-wrapper-background-color: rgb(255, 0, 0, .5);
    --errors-wrapper-border-color: #f95c5c;
    --errors-wrapper-errors-color: #bdbdbd;
    /* Top-bar */
    --topbar-background-color: #0f1a01;
    --topbar-pinned-background-color: rgb(0, 25, 2, .5);
    --topbar-pinned-shadow-color: rgba(0, 10, 2, .5);
    --topbar-pin-icon-color: white;
    --topbar-border-color: #095300;
    --topbar-select-border-color: #43b715;
    --topbar-select-label-color: #f1f1f1;
    --topbar-download-url-button-background-color: #43b715;
    --topbar-download-url-button-color: #f1f1f1;
    /* Info-box */
    --swagger-info-link: #e9d98d;
    --swagger-info-link-hover: #bccf29;
    --api-version-background-color: #d4bf88;
    --api-version-stamp-background-color: #907a48;
    --api-version-color: black;
    /* Authorize Section/Modal */
    --auth-wrapper-background-color: #2d2010;
    --auth-wrapper-border-color: #422e15;
    --auth-wrapper-box-shadow-color: rgba(0, 0, 0, .3);
    --auth-container-border-bottom-color: #251717;
    --auth-container-background-color: #3a4928;
    --auth-container-errors-color: red;
    --btn-authorize-background-color: #451f1f;
    --btn-authorize-border-color: #ededed;
    --btn-authorize-font-color: #fbffff;
    --btn-authorize-svg-fill-color: #fbffff;
    /* Operations */
    --opblock-tag-section-border-color: rgb(62, 165, 55);
    --opblock-border-color: white;
    --opblock-shadow-color: rgba(0, 0, 0, .2);
    --opblock-tag-section-expandcollapse-background-color: rgb(0 0 0 / 45%);
    --opblock-tag-background-color-hover: rgba(0, 0, 0, .05);
    --opblock-tag-pinned-background-color-hover: #0d2402;
    --opblock-tag-border-bottom-color: rgba(212, 191, 136, .5);
    --opblock-tabheader-underline-color: rgba(255, 255, 255, .6);
    --opblock-summary-svg-icons-color: white;
    --opblock-summary-border-bottom-color: white;
    --opblock-section-header-background-color: #0000004a;
    --opblock-section-header-shadow-color: rgba(0, 0, 0, .1);
    --opblock-summary-method-background-color: #3b2e1e;
    --opblock-summary-method-color: #fff;
    --opblock-summary-method-shadow-color: rgba(0, 0, 0, .1);
    /*POST*/
    --opblock-post-background-color: rgba(62, 163, 54, .24);
    --opblock-post-method-color: #228738;
    --opblock-post-border-color: #228738;
    /*PUT*/
    --opblock-put-background-color: rgba(255, 167, 0, .3);
    --opblock-put-method-color: #c95f00;
    --opblock-put-border-color: #c95f00;
    /*DELETE*/
    --opblock-delete-background-color: rgba(255, 0, 0, .14);
    --opblock-delete-method-color: #631f03;
    --opblock-delete-border-color: #631f03;
    /*GET*/
    --opblock-get-background-color: rgba(151, 255, 0, .17);
    --opblock-get-method-color: #9f9400;
    --opblock-get-border-color: #9f9400;
    /*PATCH*/
    --opblock-patch-background-color: rgba(133, 117, 69, .25);
    --opblock-patch-method-color: #857545;
    --opblock-patch-border-color: #857545;
    /*HEAD*/
    --opblock-head-background-color: rgba(55, 50, 6, .8);
    --opblock-head-method-color: #4b4719;
    --opblock-head-border-color: #4b4719;
    /*OPTIONS*/
    --opblock-options-background-color: rgba(19, 22, 19, .3);
    --opblock-options-method-color: #131613;
    --opblock-options-border-color: #131613;
    /*Deprecated*/
    --opblock-deprecated-background-color: hsla(0, 0%, 100%, .14);
    --opblock-deprecated-method-color: #a59595;
    --opblock-deprecated-border-color: #a59595;
    /* Tabs */
    --swagger-tabs-divider-color: gray;
    /* Other of operations */
    --response-undocumented-color: #b0b0b0;
    --response-control-media-type-color: #74ff74;
    --opblock-pre-microlight-background-color: #47331b;
    --opblock-pre-microlight-color: #ebe3e3;
    --download-contents-background-color: #2e0d0d;
    --download-contents-color: white;
    --copy-to-clipboard-background-color: #2e0d0d;
    --copy-to-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" aria-hidden="true"><path fill="%23fff" fill-rule="evenodd" d="M4 12h4v1H4v-1zm5-6H4v1h5V6zm2 3V7l-3 3 3 3v-2h5V9h-5zM6.5 8H4v1h2.5V8zM4 11h2.5v-1H4v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H3c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V5H3v9h10v-2zM4 4h8c0-.55-.45-1-1-1h-1c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H5c-.55 0-1 .45-1 1z"/></svg>') 50% no-repeat;
    --filter-operation-filter-input-border-color: #d8dde7;
    --filter-download-failed-color: red;
    --filter-download-loading-color: #c1c1c1;
    --table-headers-example-color: #c4c4c4;
    --table-thead-border-bottom-color: rgb(0, 0, 0, 0.20);
    --parameter-name-required-symbol-color: red;
    --parameter-name-required-color: rgba(255, 0, 0, .8);
    --parameter-in-extension-color: #878585;
    --parameter-deprecated-color: red;
    /* Buttons */
    --button-background-color: transparent;
    --button-border-color: #58a851;
    --button-shadow-color: rgba(0, 0, 0, .1);
    --button-shadow-hover-color: rgba(0, 0, 0, .3);
    --button-cancel-background-color: transparent;
    --button-cancel-border-color: #ff6060;
    --button-cancel-color: #ff6060;
    --button-execute-background-color: #346719;
    --button-execute-border-color: #478d26;
    --button-execute-color: white;
    --button-invalid-background-color: #feebeb;
    --button-invalid-border-color: #f93e3e;
    /* Expand operation icon */
    --expand-operation-svg-arrow-color: #dbdbdb;
    --expand-operation-svg-arrow-hover-color: white;
    /* Form elements */
    --select-background-icon: #2b1414e0 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23fff" fill-rule="evenodd" d="M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat;
    --select-border-color: #9ef594;
    --select-shadow-color: rgba(0, 0, 0, .25);
    --input-background-color: #2b1414e0;
    --input-border-color: #9ef594;
    --input-invalid-background-color: #510f0f;
    --input-invalid-border-color: #f93e3e;
    --input-invalid-color: #f3ebeb;
    --input-disabled-background-color: #47331b;
    --input-disabled-color: #ebe3e3;
    --select-disabled-border-color: #211;
    --textarea-disabled-background-color: #47331b;
    --textarea-disabled-color: #ebe3e3;
    --textarea-background-color: hsla(0, 36%, 12%, .8);
    --textarea-border-focus-color: #d5d5d5;
    --textarea-curl-background-color: #9ef594;
    --textarea-curl-color: #fff;
    --checkbox-color: #311414;
    --checkbox-label-item-background-color: #2c7a30;
    --checkbox-label-item-shadow-color: #2c7a30;
    --checkbox-label-item-icon: #2c7a30 url('data:image/svg+xml;charset=utf-8,<svg width="10" height="8" viewBox="3 7 10 8" xmlns="http://www.w3.org/2000/svg"><path fill="%2371eb77" fill-rule="evenodd" d="M6.333 15 3 11.667l1.333-1.334 2 2L11.667 7 13 8.333z"/></svg>') 50% no-repeat;
    /* Dialog */
    --dialog-backdrop-color: rgba(2, 18, 0, .8);
    --dialog-background-color: #29351b;
    --dialog-border-color: #4b6b3c;
    --dialog-shadow-color: rgba(0, 0, 0, .2);
    --dialog-close-button-icon-color: #fff;
    /* Models */
    --model-deprecated-color: #a0a0a0;
    --model-arrow-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23aaa" fill-rule="evenodd" d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') 50% no-repeat;
    --model-hint-background-color: rgba(0, 0, 0, .3);
    --model-hint-color: #ebebeb;
    --model-property-color: #b5b5b5;
    --model-property-primitive-color: #8b8b8b;
    --model-property-required-symbol-color: red;
    --model-property-description: #b9b9b9;
    --model-property-extension: #aba6a6;
    --model-section-border-color: rgba(212, 191, 136, .5);
    --model-section-header-color: white;
    --model-section-header-hover-background-color: rgba(0, 0, 0, .02);
    --expand-model-svg-arrow-color: white;
    --model-section-little-header-color: #707070;
    --model-container-background-color: rgba(20, 20, 20, .05);
    --model-container-hover-background-color: rgba(0, 0, 0, .1);
    --model-box-background-color: rgba(0, 0, 0, .15);
    --model-title-color: #d9d9d9;
    --model-deprecated-warning-color: #f93e3e;
    --model-prop-type-color: #2fff41;
    --model-prop-format-color: #fff;
    /* Rendered Markdown */
    --rendered-markdown-pre-color: #000;
    --rendered-markdown-code-background-color: rgba(0, 0, 0, .05);
    --rendered-markdown-code-color: #9012fe;
    /* Scroll to top button */
    --scroll-to-top-button-background-color: #002c02db;
    --scroll-to-top-button-hover-background-color: #003e03ca;
    --scroll-to-top-button-border-color: #43b715;
    --scroll-to-top-button-icon-color: #7cff54;
    --scroll-to-top-button-shadow-color: rgba(8, 114, 36, .50);
}