/*
    Modern DeepSea Style

    https://github.com/teociaps/SwaggerUI.Themes
*/

:root {
    --scrollbar-thumb-color: hsl(207, 100%, 23%);
    --scrollbar-thumb-hover-color: hsl(207, 100%, 30%);
    --body-background-color: #0a1229;
    --swagger-main-color: #fff;
    /* Loading */
    --loading-container-border-color: rgba(200, 200, 200, .1);
    --loading-container-border-top-color: rgba(255, 255, 255, .6);
    /* Errors container */
    --errors-wrapper-background-color: rgb(255, 0, 0, .5);
    --errors-wrapper-border-color: #f95c5c;
    --errors-wrapper-errors-color: #bdbdbd;
    /* Top-bar */
    --topbar-background-color: #010225;
    --topbar-pinned-background-color: rgb(0, 0, 30, .5);
    --topbar-pinned-shadow-color: rgba(0, 0, 16, .5);
    --topbar-pin-icon-color: white;
    --topbar-border-color: #008ab3;
    --topbar-select-border-color: #007dd5;
    --topbar-select-label-color: #f1f1f1;
    --topbar-download-url-button-background-color: #165d9a;
    --topbar-download-url-button-color: #f1f1f1;
    /* Info-box */
    --swagger-info-link: #99a5ff;
    --swagger-info-link-hover: #3484d5;
    --api-version-background-color: #d15647;
    --api-version-stamp-background-color: #44c0fb;
    --api-version-color: white;
    /* Authorize Section/Modal */
    --auth-wrapper-background-color: #1d6968;
    --auth-wrapper-border-color: #60ffdc;
    --auth-wrapper-box-shadow-color: rgba(0, 0, 0, .3);
    --auth-container-border-bottom-color: #171725;
    --auth-container-background-color: #1c366f;
    --auth-container-errors-color: red;
    --btn-authorize-background-color: #1c2541;
    --btn-authorize-border-color: #45e1d1;
    --btn-authorize-font-color: #fbffff;
    --btn-authorize-svg-fill-color: #fbffff;
    /* Operations */
    --opblock-tag-section-border-color: #065687;
    --opblock-border-color: white;
    --opblock-shadow-color: rgba(0, 0, 0, .2);
    --opblock-tag-section-expandcollapse-background-color: rgb(0 0 0 / 45%);
    --opblock-tag-background-color-hover: rgba(0, 0, 0, .05);
    --opblock-tag-pinned-background-color-hover: #091024;
    --opblock-tag-border-bottom-color: #065687c9;
    --opblock-tabheader-underline-color: rgba(255, 255, 255, .6);
    --opblock-summary-svg-icons-color: white;
    --opblock-summary-border-bottom-color: white;
    --opblock-section-header-background-color: #0000004a;
    --opblock-section-header-shadow-color: rgba(0, 0, 0, .1);
    --opblock-summary-method-background-color: #3b2e1e;
    --opblock-summary-method-color: #fff;
    --opblock-summary-method-shadow-color: rgba(0, 0, 0, .1);
    /*POST*/
    --opblock-post-background-color: rgba(33, 161, 255, .1);
    --opblock-post-method-color: #61affe;
    --opblock-post-border-color: #61affe;
    /*PUT*/
    --opblock-put-background-color: rgba(0, 73, 133, .2);
    --opblock-put-method-color: #004985;
    --opblock-put-border-color: #004985;
    /*DELETE*/
    --opblock-delete-background-color: rgba(20, 41, 111, .14);
    --opblock-delete-method-color: #14296f;
    --opblock-delete-border-color: #14296f;
    /*GET*/
    --opblock-get-background-color: rgba(0, 127, 110, .2);
    --opblock-get-method-color: #007f6e;
    --opblock-get-border-color: #007f6e;
    /*PATCH*/
    --opblock-patch-background-color: rgba(255, 0, 165, .1);
    --opblock-patch-method-color: #9b59b6;
    --opblock-patch-border-color: #9b59b6;
    /*HEAD*/
    --opblock-head-background-color: rgba(43, 55, 99, .36);
    --opblock-head-method-color: #3e4972;
    --opblock-head-border-color: #3e4972;
    /*OPTIONS*/
    --opblock-options-background-color: rgba(129, 0, 100, .3);
    --opblock-options-method-color: #810064;
    --opblock-options-border-color: #810064;
    /*Deprecated*/
    --opblock-deprecated-background-color: hsla(0, 0%, 100%, .14);
    --opblock-deprecated-method-color: #a59595;
    --opblock-deprecated-border-color: #a59595;
    /* Tabs */
    --swagger-tabs-divider-color: gray;
    /* Other of operations */
    --response-undocumented-color: #b0b0b0;
    --response-control-media-type-color: #00ffe8;
    --opblock-pre-microlight-background-color: #1b2847;
    --opblock-pre-microlight-color: #ebe3e3;
    --download-contents-background-color: #0e0d2e;
    --download-contents-color: white;
    --copy-to-clipboard-background-color: #0e0d2e;
    --copy-to-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" aria-hidden="true"><path fill="%23fff" fill-rule="evenodd" d="M4 12h4v1H4v-1zm5-6H4v1h5V6zm2 3V7l-3 3 3 3v-2h5V9h-5zM6.5 8H4v1h2.5V8zM4 11h2.5v-1H4v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H3c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V5H3v9h10v-2zM4 4h8c0-.55-.45-1-1-1h-1c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H5c-.55 0-1 .45-1 1z"/></svg>') 50% no-repeat;
    --filter-operation-filter-input-border-color: #d8dde7;
    --filter-download-failed-color: red;
    --filter-download-loading-color: #c1c1c1;
    --table-headers-example-color: #c4c4c4;
    --table-thead-border-bottom-color: rgba(0, 0, 0, .20);
    --parameter-name-required-symbol-color: red;
    --parameter-name-required-color: rgba(255, 0, 0, .8);
    --parameter-in-extension-color: #a8a8a8;
    --parameter-deprecated-color: red;
    /* Buttons */
    --button-background-color: transparent;
    --button-border-color: #1f81ff;
    --button-shadow-color: rgba(0, 0, 0, .1);
    --button-shadow-hover-color: rgba(0, 0, 0, .3);
    --button-cancel-background-color: transparent;
    --button-cancel-border-color: #ff6060;
    --button-cancel-color: #ff6060;
    --button-execute-background-color: #16589f;
    --button-execute-border-color: #5f9eff;
    --button-execute-color: white;
    --button-invalid-background-color: #feebeb;
    --button-invalid-border-color: #f93e3e;
    /* Expand operation icon */
    --expand-operation-svg-arrow-color: #dbdbdb;
    --expand-operation-svg-arrow-hover-color: white;
    /* Form elements */
    --select-background-icon: #0e0d2edc url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23fff" fill-rule="evenodd" d="M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat;
    --select-border-color: #949cf5;
    --select-shadow-color: rgba(0, 0, 0, .25);
    --input-background-color: #0e0d2edc;
    --input-border-color: #949cf5;
    --input-invalid-background-color: #630000;
    --input-invalid-border-color: #f93e3e;
    --input-invalid-color: #f3ebeb;
    --input-disabled-background-color: #1b2847;
    --input-disabled-color: #ebe3e3;
    --select-disabled-border-color: #171122;
    --textarea-disabled-background-color: #1b2847;
    --textarea-disabled-color: #ebe3e3;
    --textarea-background-color: #0e0d2edc;
    --textarea-border-focus-color: #d5d5d5;
    --textarea-curl-background-color: #94cef5;
    --textarea-curl-color: #fff;
    --checkbox-color: #151431;
    --checkbox-label-item-background-color: #165d9a;
    --checkbox-label-item-shadow-color: #165d9a;
    --checkbox-label-item-icon: #165d9a url('data:image/svg+xml;charset=utf-8,<svg width="10" height="8" viewBox="3 7 10 8" xmlns="http://www.w3.org/2000/svg"><path fill="%2371eb77" fill-rule="evenodd" d="M6.333 15 3 11.667l1.333-1.334 2 2L11.667 7 13 8.333z"/></svg>') 50% no-repeat;
    /* Dialog */
    --dialog-backdrop-color: rgb(2, 0, 18, 0.80);
    --dialog-background-color: #081c3b;
    --dialog-border-color: #0e3779;
    --dialog-shadow-color: rgba(0, 0, 0, .2);
    --dialog-close-button-icon-color: #fff;
    /* Models */
    --model-deprecated-color: #a0a0a0;
    --model-arrow-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23aaa" fill-rule="evenodd" d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') 50% no-repeat;
    --model-hint-background-color: rgba(0, 0, 0, .3);
    --model-hint-color: #ebebeb;
    --model-property-color: #b5b5b5;
    --model-property-primitive-color: #8b8b8b;
    --model-property-required-symbol-color: red;
    --model-property-description: #b9b9b9;
    --model-property-extension: #aba6a6;
    --model-section-border-color: rgba(56, 131, 223, .5);
    --model-section-header-color: white;
    --model-section-header-hover-background-color: rgba(0, 0, 0, .02);
    --expand-model-svg-arrow-color: white;
    --model-section-little-header-color: #8a8a8a;
    --model-container-background-color: rgba(20, 20, 20, .05);
    --model-container-hover-background-color: rgba(0, 0, 0, .1);
    --model-box-background-color: rgba(0, 0, 0, .15);
    --model-title-color: #dedede;
    --model-deprecated-warning-color: #f93e3e;
    --model-prop-type-color: #4ca3ff;
    --model-prop-format-color: #fff;
    /* Rendered Markdown */
    --rendered-markdown-pre-color: #000;
    --rendered-markdown-code-background-color: rgba(0, 0, 0, .05);
    --rendered-markdown-code-color: #9012fe;
    /* Scroll to top button */
    --scroll-to-top-button-background-color: #02001ec2;
    --scroll-to-top-button-hover-background-color: #020d35b8;
    --scroll-to-top-button-border-color: #002648;
    --scroll-to-top-button-icon-color: #7becff;
    --scroll-to-top-button-shadow-color: rgba(8, 25, 114, .5);
}