/*
    Modern Futuristic Style

    https://github.com/teociaps/SwaggerUI.Themes
*/

:root {
    --scrollbar-thumb-color: hsl(194, 100%, 50%);
    --scrollbar-thumb-hover-color: hsl(194, 100%, 60%);
    --body-background-color: #020511;
    --swagger-main-color: #f6f6f6;
    /* Loading */
    --loading-container-border-color: rgba(200, 200, 200, .1);
    --loading-container-border-top-color: rgba(255, 255, 255, .6);
    /* Errors container */
    --errors-wrapper-background-color: rgb(255, 0, 0, .1);
    --errors-wrapper-border-color: #f12323;
    --errors-wrapper-errors-color: #d5d5d5;
    /* Top-bar */
    --topbar-background-color: #04091c;
    --topbar-pinned-background-color: rgb(0, 1, 29, .6);
    --topbar-pinned-shadow-color: rgba(35, 116, 125, .6);
    --topbar-pin-icon-color: white;
    --topbar-border-color: #00f1ff;
    --topbar-select-border-color: #00f1ff;
    --topbar-select-label-color: #efe9e9;
    --topbar-download-url-button-background-color: #3c76c6;
    --topbar-download-url-button-color: #efe9e9;
    /* Info-box */
    --swagger-info-link: #75b5ff;
    --swagger-info-link-hover: #a1d0eb;
    --api-version-background-color: #00bb87;
    --api-version-stamp-background-color: #443390;
    --api-version-color: #ffffff;
    /* Authorize Section/Modal */
    --auth-wrapper-background-color: #0f0222;
    --auth-wrapper-border-color: #00f1ff;
    --auth-wrapper-box-shadow-color: #c1c1c1;
    --auth-container-border-bottom-color: #ebebeb;
    --auth-container-background-color: #ddd;
    --auth-container-errors-color: red;
    --btn-authorize-background-color: transparent;
    --btn-authorize-border-color: #17ecb2;
    --btn-authorize-font-color: #17ecb2;
    --btn-authorize-svg-fill-color: #17ecb2;
    /* Operations */
    --opblock-tag-section-border-color: #418f89;
    --opblock-border-color: #00ffea;
    --opblock-tag-section-expandcollapse-background-color: rgb(0 0 0 / 45%);
    --opblock-tag-background-color-hover: rgba(4, 7, 44, .2);
    --opblock-tag-pinned-background-color-hover: #03081c;
    --opblock-tag-border-bottom-color: rgba(0, 255, 234, .5);
    --opblock-shadow-color: rgba(255, 255, 255, .5);
    --opblock-tabheader-underline-color: rgba(255, 255, 255, .6);
    --opblock-summary-svg-icons-color: white;
    --opblock-summary-border-bottom-color: black;
    --opblock-section-header-background-color: #0000004a;
    --opblock-section-header-shadow-color: rgba(0, 0, 0, .1);
    --opblock-summary-method-background-color: black;
    --opblock-summary-method-color: white;
    --opblock-summary-method-shadow-color: rgba(0, 0, 0, .1);
    /*POST*/
    --opblock-post-background-color: rgba(63, 169, 233, .15);
    --opblock-post-method-color: #40aced;
    --opblock-post-border-color: #40aced;
    /*PUT*/
    --opblock-put-background-color: rgba(105, 7, 212, .15);
    --opblock-put-method-color: #6907D4;
    --opblock-put-border-color: #6907D4;
    /*DELETE*/
    --opblock-delete-background-color: rgba(201, 47, 97, .15);
    --opblock-delete-method-color: #C92F61;
    --opblock-delete-border-color: #C92F61;
    /*GET*/
    --opblock-get-background-color: rgba(23, 236, 178, .15);
    --opblock-get-method-color: #17ECB2;
    --opblock-get-border-color: #17ECB2;
    /*PATCH*/
    --opblock-patch-background-color: rgba(101, 39, 132, .25);
    --opblock-patch-method-color: #652784;
    --opblock-patch-border-color: #652784;
    /*HEAD*/
    --opblock-head-background-color: rgba(39, 39, 101, .25);
    --opblock-head-method-color: #272765;
    --opblock-head-border-color: #272765;
    /*OPTIONS*/
    --opblock-options-background-color: rgba(179, 54, 178, .2);
    --opblock-options-method-color: #B336B2;
    --opblock-options-border-color: #B336B2;
    /*Deprecated*/
    --opblock-deprecated-background-color: hsla(0, 0%, 87%, .1);
    --opblock-deprecated-method-color: #a59595;
    --opblock-deprecated-border-color: #a59595;
    /* Tabs */
    --swagger-tabs-divider-color: gray;
    /* Other of operations */
    --response-undocumented-color: #999;
    --response-control-media-type-color: #00ff68;
    --opblock-pre-microlight-background-color: #01236291;
    --opblock-pre-microlight-color: #ebe3e3;
    --download-contents-background-color: #00a5d8;
    --download-contents-color: white;
    --copy-to-clipboard-background-color: #00a5d8;
    --copy-to-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" aria-hidden="true"><path fill="%23fff" fill-rule="evenodd" d="M4 12h4v1H4v-1zm5-6H4v1h5V6zm2 3V7l-3 3 3 3v-2h5V9h-5zM6.5 8H4v1h2.5V8zM4 11h2.5v-1H4v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H3c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V5H3v9h10v-2zM4 4h8c0-.55-.45-1-1-1h-1c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H5c-.55 0-1 .45-1 1z"/></svg>') 50% no-repeat;
    --filter-operation-filter-input-border-color: #d8dde7;
    --filter-download-failed-color: red;
    --filter-download-loading-color: #aaa;
    --table-headers-example-color: #999;
    --table-thead-border-bottom-color: rgba(59, 65, 81, .2);
    --parameter-name-required-symbol-color: red;
    --parameter-name-required-color: rgba(255, 0, 0, .8);
    --parameter-in-extension-color: #9a9a9a;
    --parameter-deprecated-color: red;
    /* Buttons */
    --button-background-color: transparent;
    --button-border-color: #dadada;
    --button-shadow-color: rgba(0, 0, 0, .1);
    --button-shadow-hover-color: rgba(0, 0, 0, .3);
    --button-cancel-background-color: transparent;
    --button-cancel-border-color: #ff6060;
    --button-cancel-color: #ff6060;
    --button-execute-background-color: rgba(64, 172, 237, .5);
    --button-execute-border-color: #5fa9ff;
    --button-execute-color: #ebe3e3;
    --button-invalid-background-color: #feebeb;
    --button-invalid-border-color: #f93e3e;
    /* Expand operation icon */
    --expand-operation-svg-arrow-color: #aaa;
    --expand-operation-svg-arrow-hover-color: white;
    /* Form elements */
    --select-background-icon: #030329 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23fff" fill-rule="evenodd" d="M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat;
    --select-border-color: #2c4367;
    --select-shadow-color: rgba(0, 0, 0, .25);
    --input-background-color: #010123;
    --input-border-color: #124b81;
    --input-invalid-background-color: #210101;
    --input-invalid-border-color: #f93e3e;
    --input-invalid-color: #f3ebeb;
    --input-disabled-background-color: #1b2833;
    --input-disabled-color: #1b2833;
    --select-disabled-border-color: #575875;
    --textarea-disabled-background-color: #1b2833;
    --textarea-disabled-color: #8da5d0;
    --textarea-background-color: hsl(241.44deg 100% 5.98% / 80%);
    --textarea-border-focus-color: #59a5b2;
    --textarea-curl-background-color: #213168;
    --textarea-curl-color: #fff;
    --checkbox-color: #0f1639;
    --checkbox-label-item-background-color: #e8e8e8;
    --checkbox-label-item-shadow-color: #e8e8e8;
    --checkbox-label-item-icon: #e8e8e8 url('data:image/svg+xml;charset=utf-8,<svg width="10" height="8" viewBox="3 7 10 8" xmlns="http://www.w3.org/2000/svg"><path fill="%2341474e" fill-rule="evenodd" d="M6.333 15 3 11.667l1.333-1.334 2 2L11.667 7 13 8.333z"/></svg>') 50% no-repeat;
    /* Dialog */
    --dialog-backdrop-color: rgba(3, 0, 16, .85);
    --dialog-background-color: #100223;
    --dialog-border-color: #40216b;
    --dialog-shadow-color: rgba(0, 0, 0, .2);
    --dialog-close-button-icon-color: #fff;
    /* Models */
    --model-deprecated-color: #a0a0a0;
    --model-arrow-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23aaa" fill-rule="evenodd" d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') 50% no-repeat;
    --model-hint-background-color: rgba(30, 122, 167, .7);
    --model-hint-color: #ebebeb;
    --model-property-color: #c9c9c9;
    --model-property-primitive-color: #676767;
    --model-property-required-symbol-color: red;
    --model-property-description: #b9b9b9;
    --model-property-extension: #8d8a8a;
    --model-section-border-color: rgba(200, 200, 200, .3);
    --model-section-header-color: white;
    --model-section-header-hover-background-color: rgba(0, 0, 0, .02);
    --expand-model-svg-arrow-color: white;
    --model-section-little-header-color: #9a9a9a;
    --model-container-background-color: rgba(13, 32, 77, .1);
    --model-container-hover-background-color: rgba(70, 0, 179, .1);
    --model-box-background-color: rgba(101, 0, 255, .1);
    --model-title-color: #e7e9ea;
    --model-deprecated-warning-color: #f93e3e;
    --model-prop-type-color: #25e1ff;
    --model-prop-format-color: #cfcfcf;
    /* Rendered Markdown */
    --rendered-markdown-pre-color: #000;
    --rendered-markdown-code-background-color: rgba(0, 0, 0, .05);
    --rendered-markdown-code-color: #9012fe;
    /* Scroll to top button */
    --scroll-to-top-button-background-color: #02001285;
    --scroll-to-top-button-hover-background-color: #02002085;
    --scroll-to-top-button-border-color: #00c2ff;
    --scroll-to-top-button-icon-color: #d1cccc;
    --scroll-to-top-button-shadow-color: rgba(30, 134, 130, .3);
}

/* Override style */

.swagger-ui .topbar .topbar-wrapper {
    border: 3px solid var(--topbar-border-color);
    border-top: 0;
    box-shadow: 0 0 8px 4px var(--topbar-pinned-shadow-color), inset 0 -4px 10px 0px var(--topbar-pinned-shadow-color);
}

.swagger-ui .topbar.pinned .topbar-wrapper {
    border: 2px solid var(--topbar-border-color);
    box-shadow: 0 0 8px 4px var(--topbar-pinned-shadow-color), inset 0 0 8px 4px var(--topbar-pinned-shadow-color);
}

.swagger-ui .auth-wrapper {
    box-shadow: 0 0 3px 0 var(--auth-wrapper-border-color), inset 0 0 3px 0 var(--auth-wrapper-border-color);
}

.swagger-ui .btn.authorize:hover {
    box-shadow: 0 0 3px 0 var(--btn-authorize-border-color), inset 0 0 3px 0 var(--btn-authorize-border-color);
    text-shadow: 0 0 1px var(--btn-authorize-border-color);
}

.swagger-ui .opblock-tag-section {
    box-shadow: 0 0 3px 0 var(--opblock-tag-section-border-color), inset 0 0 3px 0 var(--opblock-tag-section-border-color);
}

.swagger-ui .opblock {
    box-shadow: 0 0 3px 0 var(--opblock-shadow-color), inset 0 0 5px 0 var(--opblock-shadow-color);
}

.swagger-ui .btn:hover {
    box-shadow: 0 0 3px 0 var(--button-border-color), inset 0 0 3px 0 var(--button-border-color);
}

.swagger-ui .dialog-ux .modal-ux {
    box-shadow: 0 0px 5px 0 var(--dialog-border-color), inset 0 0px 5px 0 var(--dialog-border-color);
}

.swagger-ui section.models {
    box-shadow: 0 0 3px 0 var(--model-section-border-color), inset 0 0 3px 0 var(--model-section-border-color);
}