name: Test

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  pull_request:
    branches: [main]
    types: [opened, reopened, edited]
    paths-ignore: ['**/*.md', '**/*.png', '**/*.txt']

env:
    TEST_PROJECTS_PATH: 'tests/*'
    CONFIGURATION: 'Release'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x

    - name: Test
      run: dotnet test ${{ env.TEST_PROJECTS_PATH }} --configuration ${{ env.CONFIGURATION }}